@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

img {
    max-width: 20%;
}
header{
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative ;
    z-index: 1
    
	
}
.contenedor{
    margin: 0 auto;
    width: 5.8rem;
}


